/* -------------------- MODAL ------------------*/
html.active-modal {
  scrollbar-gutter: stable;
  overflow: hidden;
}

.modal,
.overlay {
  inset: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6.5rem 2rem 0rem 2rem;
  background: rgba(49, 49, 49, 0.55);
  z-index: 60;
}

.modal-content {
  position: relative;
  overflow: hidden;
  min-width: 350px;
  max-width: 1000px;
  max-height: 90%;
  background: rgba(243, 243, 243, 0.6);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: expandModal 0.5s ease-out forwards;
  z-index: 80;
}

.close-modal {
  background-color: rgb(240, 240, 240);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: 0;
  font-size: 40px;
  font-weight: 300;
  cursor: pointer;
  position: absolute;
  border-radius: 50%;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  display: grid;
  place-content: center;
  color: var(--surface-primary);
  transition: all 0.4s ease-in;
  &:hover {
    color: rgb(255, 255, 255);
    transform: rotate(360deg);
    font-weight: 400;
    scale: 1.2;
    background-color: rgb(192, 36, 36);
    box-shadow: rgba(0, 0, 0, 0.56) 0px 5px 40px 2px;
  }
}

.imgModal {
  max-width: 100%;
  min-height: 100%;
}

@keyframes expandModal {
  0% {
    opacity: 0;
    transform: scale(0.5);
    translate: -50% 10%;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* --------------------------------------*/

.section-skills {
  background-color: var(--primary-dark);
  color: aliceblue;
  text-align: center;
  min-width: 360px;
  padding-bottom: 4rem;
  text-shadow: 2px 2px 4px rgba(220, 220, 220, 0.4);
}

header > h2 {
  padding-top: 2rem;
  font-size: 3rem;
}

.aboutMe-section {
  width: 80%;
  margin: 0 auto;
}

.container-aboutMe {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.container-aboutMe > div:not(.first, .cert-0) {
  display: none;
}

.container-aboutMe > div:not(:first-child) {
  transition: filter 0.3s, transform 0.5s;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.container-aboutMe > div:before,
.container-aboutMe > div:after {
  content: "";
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(
    45deg,
    #e64d8f,
    #004080,
    #006600,
    #b3b300,
    #e00d0d,
    #e64d8f,
    #004080,
    #006600,
    #b3b300,
    #d80c0c
  );
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -10;
  animation: steam 40s linear infinite;
}

.container-aboutMe > div:not(:first-child) > img {
  width: 100%;
  display: block;
  border: 4px solid transparent;
}

.container-aboutMe > div:not(:first-child):hover {
  transform: scale(1.05);
}

.first {
  max-width: 500px;
  min-height: auto;
  position: relative;
  z-index: 1;
  border: 2px solid var(--primary-dark);
  transition: filter 0.3s, transform 0.5s;
  text-wrap: pretty;
}

.first:hover {
  transform: scale(1.03);
}

.first:after {
  filter: blur(5px);
}

.first-content {
  background-color: var(--primary-dark);
  padding: 1rem;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.first-content::before {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
  content: "";
  display: block;
  height: 120%;
  left: -95%;
  position: absolute;
  top: 0;
  transform: skewX(-35deg) scaleX(0.2);
  width: 50%;
  z-index: 2;
  transition: left 0.5s;
}

.first-content:hover::before,
.first-content:focus::before {
  animation: shine 0.85s forwards;
}

.cert-0 {
  max-width: 500px;
  max-height: auto;
  overflow: hidden;
}
.skills-section {
  width: 90%;
  margin: 0 auto;
}
.skills > div {
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.skills > div > a > img {
  width: 120px;
  padding: 0.4rem;
  cursor: pointer;
  transition: filter 0.3s, transform 0.5s;
}
.skills > div > a > img:hover {
  filter: drop-shadow(0 0 5px var(--white));
  transform: scale(1.1) translateY(-15px);
}
.other-skills > div {
  margin: 0rem 1rem;
  padding: 1rem 2rem;
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.other-skills > h3 {
  font-size: 2.5rem;
}
.other-skills > div > a > img {
  width: 85px;
  padding: 0.4rem;
  cursor: pointer;
  transition: filter 0.3s, transform 0.5s;
}
.other-skills > div > a > img:hover {
  filter: drop-shadow(0 0 5px var(--white));
  transform: scale(1.1) translateY(-15px);
}

@media (min-width: 500px) {
  .first-content > p {
    font-size: 19px;
  }
}
@media (min-width: 768px) {
  .container-aboutMe > div:nth-child(3) {
    display: block;
  }
  .container-aboutMe {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 200px 200px;
  }
  .container-aboutMe > div {
    display: grid;
    justify-self: center;
  }
  .aboutMe-section {
    width: 90%;
  }
  .first {
    grid-row: 1/3;
    min-height: 100%;
    max-width: 600px;
  }
  .first-content > p {
    font-size: 18px;
  }
  .cert-0 {
    max-width: 280px;
  }
  .cert-1 {
    grid-column: 2;
    max-width: 280px;
    overflow: hidden;
  }
}

@media (min-width: 900px) {
  .first-content > p {
    font-size: 20px;
  }
}
@media (min-width: 1000px) {
  .first-content > p {
    font-size: 21px;
  }
}

@media (min-width: 1200px) {
  .container-aboutMe > div:nth-child(n + 4) {
    display: block;
  }
  .aboutMe-section {
    width: 90%;
  }
  .container-aboutMe {
    display: grid;
    grid-template-rows: auto;
  }
  .first {
    min-width: 200px;
  }
  .first-content > p {
    font-size: 19px;
  }
  .cert-0 {
    grid-column: 2/4;
    max-width: none;
    max-height: none;
  }
  .cert-1 {
    max-width: none;
  }
  .cert-3 {
    width: auto;
    grid-column: 4;
    grid-row: 1;
  }
  .cert-section {
    height: 100%;
    overflow: hidden;
  }
  .cert-section > img {
    min-height: 100%;
  }
}
@media (min-width: 1230px) {
  .first-content > p {
    font-size: 20px;
  }
}
@media (min-width: 1300px) {
  .first-content > p {
    font-size: 21px;
  }
}
@media (min-width: 1400px) {
  .first-content > p {
    font-size: 23px;
  }
}
@media (min-width: 1500px) {
  header > h2 {
    font-size: 4.5rem;
  }
  .first-content > p {
    font-size: 19px;
  }
  .section-skills {
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 6rem;
  }
  .aboutMe-section {
    width: 70%;
  }
  .skills-section {
    width: 20%;
  }
  .skills > div > a {
    width: 40%;
    display: flex;
  }
  .skills > div > a > img {
    width: 100%;
    padding: 0.5rem;
  }

  .other-skills > div {
    margin: 0rem;
    padding: 1rem 0rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }
  .other-skills > div > a {
    width: 18%;
  }
  .other-skills > div > a > img {
    width: 100%;
  }
}

@media (min-width: 1600px) {
  .first-content > p {
    font-size: 20px;
  }
}
@media (min-width: 1700px) {
  .first-content > p {
    font-size: 21px;
  }
}
@media (min-width: 1800px) {
  .first-content > p {
    font-size: 23px;
  }
}
@media (min-width: 1900px) {
  .first-content > p {
    font-size: 24px;
  }
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes shine {
  100% {
    left: 125%;
  }
}
