.header-container {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: #252525;
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px aliceblue;
}
.header-a img {
  height: 50px;
}
.header-button {
  width: 2em;
  height: 2em;
  cursor: pointer;
}
.nav-container {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 0vh;
  opacity: 0;
  overflow: hidden;
  transition: all 0.5s ease;
}
.nav-container.isActive {
  height: 91vh;
  opacity: 1;
}
.nav-ul {
  flex-direction: column;
}
.nav-li {
  margin: 0.5em;
}
.nav-li a {
  margin: 0.5em;
  color: aliceblue;
}

@media (min-width: 768px) and (max-width: 1025px) {
  .header-container {
    flex-wrap: nowrap;
  }
  .nav-container {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    height: auto;
    opacity: 1;
  }
  .header-button {
    display: none;
  }
  .nav-ul {
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: 1026px) {
  .header-container {
    flex-wrap: nowrap;
  }
  .nav-container {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    height: auto;
    opacity: 1;
  }
  .header-button {
    display: none;
  }
  .nav-ul {
    display: flex;
    flex-direction: row;
  }
}
