@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700;800&family=Roboto:wght@100;300;400&display=swap');

:root {
  --primary-dark: #1f252e;
  --surface-primary: #1d2127;
  --surface-secondary: #252930;
  --primary-text: #d1d7e0;
  --secondry-text: #aaaeb6;
  --black: #000000;
  --white: #ffffff;
  --li: #c7c7c7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
